html, body {
    height: 100%;
    margin: 0;
    color: #333333;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    scroll-behavior: smooth;

}

a, button {
    text-decoration: none;
    color: unset;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    border: none;
}

li{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.04em;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    list-style: none;

}

a, li, ul, h1, h2, h3, h4, div, h5, h6 {
    margin: 0;
    padding: 0;
    list-style: none;
}

*, *::before, *::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}


.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1390px;
    margin: 0 auto;
    padding: 0 40px;

    &__photo{

    }

}




@import "variables";
@media screen and (max-width: 1280px) {
    .container,
    .container__main {
        max-width: $breakpoint-xl;
    }
}

@media screen and (max-width: 992px) {
    .container,
    .container__main {
        max-width: $breakpoint-md;
    }

}

@media screen and (max-width: 768px) {

    .container__main {
        max-width: 100%;
        padding: 0;
    }

    .container {
        max-width: 576px;
    }
}

@media screen and (max-width: 576px) {
    .container {
        display: block;
        max-width: 100%;
        padding: 0 20px;
        &__photo{
            padding: 0;
        }
    }
}

